#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
#connexionForm input[type=email], #connexionForm input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
#connexionForm input[type=submit] {

    background: rgba(0,0,0,0.9);
    color: white; 
    font-size: 20px;
    margin: 0; 
    font-family: 'frozen', serif;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer; 
    width: 100%;
  
}
 #connexionForm  input[type=submit]:hover {
      transition: 0.7s;
        background-color: orange;
        color: white;
     }
/* Set a style for all buttons */
#Form2 input[type=submit] {

    background: rgba(0,0,0,0.9);
    color: white; 
    font-size: 20px;
    margin: 0; 
    font-family: 'frozen', serif;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer; 
    width: 100%;
  
}

#Form2  input[type=submit]:hover {
      transition: 0.7s;
        background-color: orange;
        color: white;
     }

#connexionForm{
        width:100%;
        padding: 30px;
        background: white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#submit1:hover {
   
        transition: 0.7s;
        background-color: orange;
        color: white;
    
    
}

#submit1 input[type=submit] {
 
    background: rgba(0,0,0,0.9);
    color: white; 
    font-size: 20px;
    margin: 0; 
    font-family: 'frozen', serif;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer; 
    width: 100%;
    
}